@model IEnumerable<Proyecto.Model.AperturasDeCaja>

@{
    ViewData["Title"] = "Index";
}

<h1>Cajas</h1>

<p>
    <a asp-action="Create">Agregar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                N° de Caja
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>

            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeCierre)
            </td>
            <td>
                    @if (item.Estado.ToString().Equals("ABIERTA"))
                    {
                        @Html.DisplayFor(modelItem => item.Estado)
                    <td><p><small>@Html.ActionLink("Cerrar Caja", "CerrarCaja", new { id=item.Id})</small></p></td>
                    <td><button class="btn-edit abrir-caja">Ingresar Caja</button><br /><br /></td>

                        
                    }else{
                        @Html.DisplayFor(modelItem => item.Estado)
                    <td><p><small>@Html.ActionLink("Abrir Caja", "AbrirCaja", new { id=item.Id})</small></p></td>
                    }
                
            </td>
        </tr>
}
    </tbody>
</table>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {

            $(".abrir-caja").click(function () {

                window.location.href = "/Ventas/Registro";


            });

        });
    </script>
}