@model IEnumerable<Proyecto.Model.AperturasDeCaja>

@{
    ViewData["Title"] = "Index";
}

<h1>Cajas</h1>



<p>
<p>
    <a asp-controller="Caja" asp-action="Create" class="btn_create">Abrir Caja</a>
</p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                    <a href="Caja/Edit?id=@item.Id" class="btn-edit">Cerrar Caja</a> |

            </td>
        </tr>
}
    </tbody>
</table>
