@model IEnumerable<Proyecto.Model.Inventarios>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista De Inventarios</h1>

<form asp-controller="Inventarios" asp-action="Index" method="get">

    <p>
        Nombre: <input type="text" name="nombre" />
        <input type="submit" value="Filtrar" />

    </p>

</form>

<p>
<p>
    <a href="Inventarios/Create" class="btn_create">Crear nuevo</a>
</p>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                    <a href="Inventarios/Edit?id=@item.Id" class="btn-edit">Editar</a> |
                    <a href="Inventarios/Details?id=@item.Id" class="btn-details">Detalles</a>

            </td>
        </tr>
}
    </tbody>
</table>
